name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
  workflow_dispatch:

jobs:
  lychee:
    name: QA (Lychee)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-
      - name: Run Lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: --cache --max-cache-age 1d .

  cargo-machete:
    name: QA (Cargo Machete)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-machete
      - name: Run cargo-machete
        run: cargo machete --skip-target-dir

  pre-commit:
    name: QA (pre-commit)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files --show-diff-on-failure

  unit-tests:
    name: Unit tests
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          rust-version: stable
          profile: minimal
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-unit-${{ hashFiles('**/Cargo.toml') }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Run unit tests without features
        run: cargo test --all

  test-release-cucumber-thirtyfour-worlder:
    needs:
      - lychee
      - cargo-machete
      - pre-commit
      - unit-tests
    if: |
      '${{ github.event.pull_request.user.login }}' == 'mondeja' ||
      startsWith(github.ref, 'refs/tags/') ||
      github.ref == 'refs/heads/master'
    name: Test cucumber-thirtyfour-worlder crate publishing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          rust-version: stable
          profile: minimal
      - name: Publish
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cargo publish -v --dry-run

  test-release-cucumber-thirtyfour-worlder-docref:
    needs: test-release-cucumber-thirtyfour-worlder
    if: |
      '${{ github.event.pull_request.user.login }}' == 'mondeja' ||
      startsWith(github.ref, 'refs/tags/') ||
      github.ref == 'refs/heads/master'
    name: Test cucumber-thirtyfour-worlder-docref crate publishing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get project version
        id: get-version
        uses: mondeja/get-current-crate-version@main
      - name: Update version
        uses: mondeja/starts-with-line-replacer@main
        with:
          working-directory: docref
          file: Cargo.toml
          starts-with: cucumber-thirtyfour-worlder
          replace-by: 'cucumber-thirtyfour-worlder = "=${{ steps.get-version.outputs.version }}"'
      - name: Check version update
        working-directory: docref
        run: |
          if ! grep -q '^cucumber-thirtyfour-worlder = "=${{ steps.get-version.outputs.version }}"$' Cargo.toml; then
            echo "The version of cucumber-thirtyfour-worlder dependency has not been correctly updated in docref/Cargo.toml" >&2
            exit 1
          fi

  release-cucumber-thirtyfour-worlder:
    if: startsWith(github.ref, 'refs/tags/')
    name: Publish cucumber-thirtyfour-worlder crate
    needs: test-release-cucumber-thirtyfour-worlder-docref
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          rust-version: stable
          profile: minimal
      - name: Publish
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cargo publish -v

  release-cucumber-thirtyfour-worlder-docref:
    if: startsWith(github.ref, 'refs/tags/')
    name: Publish cucumber-thirtyfour-worlder-docref crate
    needs: release-cucumber-thirtyfour-worlder
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
        with:
          rust-version: stable
          profile: minimal
      - name: Get project version
        id: get-version
        uses: mondeja/get-current-crate-version@main
      - name: Update version
        uses: mondeja/starts-with-line-replacer@main
        with:
          working-directory: docref
          file: Cargo.toml
          starts-with: cucumber-thirtyfour-worlder
          replace-by: 'cucumber-thirtyfour-worlder = "=${{ steps.get-version.outputs.version }}"'
      - name: Publish
        working-directory: docref
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cargo publish -v --allow-dirty

  create-release:
    if: startsWith(github.ref, 'refs/tags/')
    name: Create release
    needs: release-cucumber-thirtyfour-worlder-docref
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get tag metadata
        id: tag
        run: |
          TAG_TITLE=${GITHUB_REF#refs/*/}
          echo "title=$TAG_TITLE" >> $GITHUB_OUTPUT
      - name: Create release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ steps.tag.outputs.title }}
          tag_name: ${{ steps.tag.outputs.title }}
          body: |
            See [CHANGELOG](https://github.com/mondeja/cucumber-thirtyfour-worlder/blob/master/CHANGELOG.md).
          draft: false
          prerelease: false
